html, body, #root {
  width: 100%;
  height: 100%;
  /*background-image: url('./images/main-pic.jpg');
  background-position: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  background-color: #eee;
}

.survey {
  position: relative;
  height: 100%;
  /*background-color: #eee;*/
}

.question-sec {
  width: 75%;
  display: inline-block;
  text-align: center;
  padding: 80px 0;
  position: relative;
  background-color: #fff;
  margin: 0 2.5%;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 10px .3px rgba(0, 0, 0, 0.4);
}

.step-7 {
  width: 95%;
}

.questions-header {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.questions-minor {
  font-size: 24px;
}

.inputs, .other-input {
  border: none;
  border-bottom: 1px solid #000;
  font-size: 18px;
  border-radius: 5px;
}

.inputs {
  width: 300px;
}

.inputs:focus {
  outline-width: 0;
}

.textarea {
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 18px;
  width: 60%;
}

.textarea:focus {
  outline-width: 0;
}

.buttons {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  height: auto;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  margin: 60px 10px 0;
}

.buttons-proj {
  height: 250px;
  width: 250px;
}

.buttons-proj:nth-child(3) {
  margin: 60px 5px 0 0;
}

.buttons-proj:nth-child(4) {
  margin: 60px 0 0 5px;
}

.buttons:hover {
  transform: translateY(-2%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.buttons-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
}

.buttons-price {
  font-size: 26px;
  color: green;
  font-weight: bold;
  margin-top: 0;
}

.buttons-desc {
  font-size: 20px;

}

.next-button {
  border: 2px solid #000;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 22px;
  margin-left: 20px;
  border-radius: 5px;
  display: inline-block;
}

.back-button {
  font-size: 22px;
  border: 2px solid #000;
  display: inline-block;
  padding: 5px 15px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

.back-button:hover, .next-button:hover {
  background-color: #000;
  color: #fff;
}

.summary-column { 
  width: 20%;
  height: 80%;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  overflow: scroll;
  position: absolute;
  right: 0;
  top: 30px;
  margin: 0 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px .3px rgba(0, 0, 0, 0.4);
}

.summary-title {
  margin: 20px auto;
  padding-bottom: 10px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  width: 80%;
}

.category-title {
  font-size: 22px;
  padding-left: 15px;
  font-weight: bold;
  color: blue;
  cursor: pointer;
  margin-bottom: 0;
  text-decoration: underline;
}

.category-desc {
  font-size: 18px;
  padding-left: 40px;
  margin: 0;
}

.est-price {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 20%;
  background-color: green;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px .3px rgba(0, 0, 0, 0.4);
}