/*footer*/
.footer 
    height: 240px
    width: 100%
    padding: 50px 0 0
    background-color: #292929
    bottom: 0
    
    &-info 
        margin: auto
        width: 275px

    &-image 
        float: left
        width: 9rem
        padding: 6px 10px 0 0

    &-link
        margin: 0 0 10px
        padding: 0!important

        &:last-child a
            cursor: pointer


    &-link a 
        color: #fff
        text-decoration: underline
        font-size: 16px
        font-family: $primary-font-semi
        cursor: not-allowed

