.main-intro
    background-image: url('../images/main-pic.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    padding: 14vh 0
    
    @include clearfix

    &-info
        margin: auto
        height: 70.1rem
        width: 80rem
        padding-top: 10rem 
        padding-left: 1rem
        @media screen and (max-width: 1440px)
            height: 57.2rem
            width: 83.6rem
            padding-top: 6.5rem
         
        @media screen and (max-width: 1180px)
            width: 70rem
            height: 50rem
            padding-top: 7rem

        h2, p
            color: $primary-white
            font-family: $primary-font
            text-align: center

        h2
            font-size: 8rem
            // -webkit-text-stroke-width: .2rem
            // -webkit-text-stroke-color: $primary-blue
            @media screen and (max-width: 1440px)
                font-size: 5.3rem
            @media screen and (max-width: 1180px)
                font-size: 4.2rem
        p
            font-size: 2.3rem
            @media screen and (max-width: 1440px)
                font-size: 1.6rem
            @media screen and (max-width: 1180px)
                font-size: 1.3rem


        .design-button
            @include design-button