.why
  padding: 0 5rem 5rem 5rem

  &-header
    display: block
    font-size: 5rem
    font-weight: bold

  &-section
    width: calc(100%/3)!important
    margin: 0!important
    height: 80rem
    padding: 5rem

    &:not(:nth-child(2))
      border: .5rem solid #000

    &:nth-child(2)
      border-top: .5rem solid #000
      border-bottom: .5rem solid #000
        

  h4
    font-size: $header-four
    font-weight: normal
  p
    font-size: $regular-size
    font-weight: lighter
      
  img
    height: 7rem