.process2
  padding: 10rem
  width: 90%
  background-color: $primary-blue
  text-align: center
  margin: auto

  @media screen and (max-width: 1180px)
    padding: 5rem
    width: 100%

  &-column
    // width: 49%
    display: inline-block
    vertical-align: top
    color: $primary-white
    text-align: left
    font-family: $primary-font

    @media screen and (max-width: 1180px)
      display: block
      margin: auto
      width: 80vw!important

    &-1
      width: 50%

    &-2
      width: 40%

  &-header
    font-size: 7vw
    font-weight: bold
    line-height: 9vw

    @media screen and (max-width: 1180px)
      font-size: 8vw
      // text-align: center
      margin-bottom: 4rem

    @media screen and (max-width: 500px)
      font-size: 3.5rem
      line-height: 4rem

  &-title
    font-size: 1.8vw
    padding-bottom: 4rem
    position: relative
    font-weight: bold

    @media screen and (max-width: 1180px)
      width: 80%
      margin: auto
      font-size: 3.5vw

    @media screen and (max-width: 500px)
      padding-bottom: 2rem
      font-size: 2rem

    &:before
      content: ""
      position: absolute
      left: 0
      bottom: 0
      height: .1rem
      width: 50%
      border-bottom: .4rem solid #fff

      @media screen and (max-width: 500px)
        border-bottom: .2rem solid #fff

  &-steps
    font-size: 1.2vw
    margin-top: 3rem

    @media screen and (max-width: 1180px)
      font-size: 2.2vw
      width: 80%
      margin: 5rem auto
    
    @media screen and (max-width: 500px)
      font-size: 1.8rem
      margin: 2rem auto

.process

  .row
    width: 100%!important
    margin-bottom: 0!important

  &-column
    margin: 0!important
    width: calc(100%/3)!important

  &-box
    height: 40rem
    font-family: $primary-font
    text-align: center
    margin: .5rem
    border-radius: .5rem
    box-shadow: inset 0 0 2rem #000
    position: relative

    &-desc
      width: 90%
      @extend %center-img
      font-size: $secondary-size

    &-img
      width: 90%
      @extend %center-img

    &-1a
      background-color: #5dafa9

      img
        width: 6.5rem
    
    &-1b
      background-color: #72cbcd

    &-1c
      background-color: #95d6d8

    &-2a
      background-color: #898a8a

      img
        width: 14rem

      p
        color: #fff

    &-2b
      background-color: #a2a2a2
      color: #fff

    &-2c
      background-color: #c4c6c6

    &-3a
      background-color: #d8b464

      img
        width: 12rem

    &-3b
      background-color: #eeca69

    &-3c
      background-color: #f9d480

      p
        border: .5rem solid #000
        border-radius: 1rem
        color: #000
        display: inline-block
        font-size: 8rem
        padding: 2rem
        @extend %center-img

  &-step
    display: inline-block

    &-num
      // vertical-align: top
      margin: 6rem 0 4rem
      // text-shadow: .5rem .5rem 1rem #000

    &-title
      font-size: 7rem
      line-height: 5rem
      font-family: $secondary-font
      // display: inline-block
      color: #000

      // text-shadow: .5rem .5rem 1rem #000

