.faq
  padding: 8rem 0
  text-align: center

  &-header
    font-family: $secondary-font
    font-size: 10rem
    color: #efd59a
    text-shadow: -.7rem -.5rem $primary-blue, -1.4rem 0 #000
    border: .8rem double #000
    line-height: 12rem
    margin: 0 auto 5rem
    width: 30rem

    @media screen and (max-width: 500px)
      font-size: 8rem
      width: 20rem
      line-height: 9rem
      text-shadow: -.5rem -.3rem $primary-blue, -1rem 0 #000

  &-column
    // margin-top: 5rem
    width: 45%
    display: inline-block
    vertical-align: top

    &:nth-child(2)
      margin-right: 5rem

    @media screen and (max-width: 1180px)
      display: block
      width: 80%
      margin: auto!important

  &-card
    border-bottom: .2rem solid #000
    padding-bottom: 1rem
    margin-bottom: 2rem

    .symbol
      margin-right: auto
      font-size: 1.8vw

      @media screen and (max-width: 1180px)
        font-size: 3vw
        
      @media screen and (max-width: 780px)
        font-size: 4vw

      @media screen and (max-width: 500px)
        font-size: 1.4rem

    &-question
      font-size: 1.6vw
      // background-color: rgba(0,0,0,0.2)
      line-height: 6rem
      cursor: pointer
      width: 96%
      display: inline-block
      font-family: $primary-font-semi


      @media screen and (max-width: 1180px)
        font-size: 3vw
        
      @media screen and (max-width: 780px)
        font-size: 4vw

      @media screen and (max-width: 500px)
        font-size: 1.8rem
        line-height: 3rem
        text-align: left

    &-answer
      font-size: $secondary-size
      text-align: justify
      width: 80%
      margin: auto
      // padding-bottom: 2rem
      max-height: 0
      transition: max-height 1s
      overflow: hidden
      font-family: $primary-font-reg


      @media screen and (max-width: 1180px)
        font-size: 2.4vw
        
      @media screen and (max-width: 780px)
        font-size: 2.8vw

      @media screen and (max-width: 500px)
        font-size: 1.4rem

  .reveal-answer
    max-height: 50rem
    transition: max-height 1s

  // img
  //   width: 23rem
  //   margin: auto
  //   display: block
  //   margin-bottom: 3rem

  //   @media screen and (max-width: 500px)
  //     width: 18rem