.nav
  width: 100vw
  background: rgba(0,0,0,0)
  transition: .3s
  position: fixed
  z-index: 100000
  text-align: center
  padding-top: 1rem
  padding-bottom: .5rem

  // &:hover
  //   background: rgba(255,255,255,0.97)
  //   border-bottom: solid #19c7cd 4px

  //   & > .nav-main-name h1, .nav-links a
  //     color: #000!important

  //   & > .tgj-logo
  //     content: url('assets/svg/tgj_new_logo.svg')

  @media screen and (max-width: 780px)
    background-color: rgba(255,255,255, 0.97)
    border-bottom: solid #19c7cd 4px

  &.scroll-change
    background: rgba(255,255,255,0.97)
    border-bottom: solid #19c7cd 4px

  @include clearfix

  @media screen and (min-width: 780px)
    div
      margin: auto
      width: calc((100% - 5%)/3)

  &-main-name

    @media screen and (max-width: 780px)
      display: inline-block
      // margin: auto
      width: 70%
      margin-left: 15%

    .tgj-logo
      width: 4rem
      transform: translate(0, -.25rem)
      margin-right: .5rem

      @media screen and (max-width: 780px)
        width: 3.5rem

    h1
      margin-bottom: 2rem
      font-family: $primary-font
      font-weight: 500
      display: inline-block

      @media screen and (max-width: 780px)
        font-size: 2rem

    a
      color: $primary-white

      @media screen and (max-width: 780px)
        color: $primary-grey

      &:hover
        text-decoration: none

    span
      color: $primary-blue

  .design-button
    @include design-button

    @media screen and (max-width: 780px)
      display: none

  &-links
    // padding-top: 1rem
    display: block
    margin: auto

    @media screen and (max-width: 780px)
      display: none

    @media screen and (max-width: 500px)
      margin: 1.5rem auto 1rem

    ul
      width: 4rem
      display: inline
      padding: 0

      li
        display: inline-block
        text-decoration: none
        list-style: none
        margin: 0 .5rem
        cursor: pointer


        a
          text-decoration: none
          text-transform: uppercase
          color: $primary-white
          transition: .3s
          font-size: 2rem
          font-family: $primary-font
          font-weight: 1000

          @media screen and (max-width: 780px)
            color: #000!important

      .active 
          color: $primary-blue!important
  
  &-icon
    display: none

    @media screen and (max-width: 780px)
      display: inline-block

    .fa-bars
      color: $primary-blue
      font-size: 3rem
      margin-top: .6rem
      cursor: pointer

  .unhidden
    display: block
    margin: auto
