.footer {
  height: 240px;
  width: 100%;
  background-color: #292929;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
	&-info {
		display: flex;
		justify-content: center;
	}
	&-image {
		width: 7rem;
		align-self: start;
	}
	&-list {
		list-style: none;
		text-decoration: none;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0;
		margin-left: 2rem;
		a {
			color: #fff;
			text-decoration: underline;
			font-size: 1.4rem;
			font-family: $primary-font-semi;
			cursor: pointer;
		}
	}
	&-social {
		display: flex;
		flex-direction: column;
		margin-left: 2rem;
		justify-content: space-around;
		img {
			width: 4rem;
		}
	}
}
    