/*client slideshow*/
	#sec5 {
	    background-color: rgba(0, 0, 0, 0.05);
	    height: 460px;
	    border-top: 1px rgba(0, 0, 0, 0.2) solid;
	    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
	    padding: 30px 0;
	}

	#sec5 .row {
		padding: 0 0 0 70px;
	}

	#sec5 img.d-block {
		width: 300px!important; 
		margin: 30px 0 0!important;
	}

	#sec5 p {
	    color: #000;
	    /*text-align: center;*/
	}

	#sec5 p.clients {
		font-size: 40px;
		font-weight: bold;
		border-bottom: 2px #000 solid;
		width: 65%;
	}

/*	#sec5 .col-lg-7 {
		background-color: rgba(0, 0, 0, 0.4);
		border: 2px #000 solid;
	}*/

	#sec5 a {
		text-align: center;
		color: #000;
	}

	#sec5 button {
		border-radius: 5px;
		background-color: #fff;
		border: none;
		margin: 0 0 0 10px;
		transition: .3s;
		border-bottom: none;
	}

	#sec5 button a {
		text-decoration: none;
	}

	#sec5 .container:nth-child(1) button:hover {
		background-color: #FF8E3A;
	}

	#sec5 .container:nth-child(1) button:hover > a {
		color: #fff;
	}

	#sec5 .carousel-control-prev-icon,
	#sec5 .carousel-control-next-icon {
	    width: 40px!important;
	    height: 40px!important;
	}

	#sec5 .carousel-control-prev-icon {
	    background-image: url('../svg/prev_arrow.svg')!important;
	}

	#sec5 .carousel-control-next-icon {
	    background-image: url('../svg/next_arrow.svg')!important;
	}

	#sec5 .carousel-indicators .active {
	    background-color: #000!important;
	}

	#sec5 .carousel-indicators li {
	    background-color: rgba(0, 0, 0, 0.5)!important;
	}