/*footer*/
	footer {
	    height: 240px;
	    width: 100%;
	    padding: 50px 0 0;
	    background-color: #292929;
	    bottom: 0;
	}

	footer #links {
		margin: auto;
		width: 275px;
	}

	footer div img {
		float: left;
		width: 80px;
		padding: 6px 10px 0 0;
	}

	footer #links a {
		color: #bbb;
		text-decoration: underline;
		font-size: 16px;
		font-weight: bold;
	}

	footer #links div {
		margin: 0 0 10px;
		padding: 0!important;
	}

	footer #links div a {
		cursor: not-allowed;
	}

	footer #links div:nth-child(5) a {
		cursor: pointer!important;
	}