/*navbar*/
/*navigation menu*/
	header {
		width: 100%;
		height: 60px;
		background-color: rgba(214, 187, 114, 0.1);
		border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
	}

	header .row {
		width: 100%!important;
	}

	header #logo {
	    margin: 3px 0px 0px 30%;
	    height: 50px;
	}

	nav ul {
	    display: flex;
	    float: right;
	    transition: .3s;
	    padding: 16px 25% 0 0;
	}

	nav ul li {
	    list-style: none;
	    margin: 0px 6px;
	    text-align: center;
	}

	nav ul li a {
	    text-decoration: none;
	    text-transform: uppercase;
	    color: #000;
	    transition: .3s;
	    font-size: 18px;
	    font-family: 'Montserrat', sans-serif;
	}

	nav ul li a:hover {
		color: #19c7cd;
		text-decoration: none;
	}

	nav ul li a.tgjactive {
	    color: #19c7cd;
	}

/*form*/
#form {
	padding-bottom: 60px;
	background-color: rgba(214, 187, 114, 0.2);
}

#form #projects {
	width: 80vw;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	opacity: 1;
	transition: .3s;
}

#form #projects button {
	cursor: pointer;
	width: 25vw;
	height: 25vw;
	margin: 100px 10px;
	background-color: rgba(0,0,0,0);
	transition: 0.3s;
	border: 8px #19c7cd solid;
	font-size: 50px;
	font-family: 'Lobster', cursive;
}

#form #projects .col-4:nth-child(1) button:hover {
	background-image: url('../svg/web_design.svg');
	background-repeat: no-repeat;
	background-position: center;
}

#form #projects .col-4:nth-child(2) button:hover {
	background-image: url('../svg/tgj_logo.svg');
	background-repeat: no-repeat;
	background-position: center;
}

#form #projects .col-4:nth-child(3) button:hover {
	background-image: url('../svg/business_cards.svg');
	background-repeat: no-repeat;
	background-position: center;
}

#form #projects button:focus {
	outline: 0;
}

#form #projects button:hover {	background-color: #19c7cd;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 1);
	border: none!important;
	color: rgba(0, 0, 0, 0);
}

.fadeaway {
	opacity: 0!important;
	cursor: auto!important;
}

#projectform {
	width: 60vw;
	text-align: center;
	margin: auto;
	left: 0;
	right: 0;
	transition: .3s;
	opacity: 1;
	padding: 50px 0 0;
}

#projectform input {
	width: 28vw;
	margin: 2vh 2vw 4vh 0;
	border-radius: 5px;
}

#projectform .col-12:nth-child(1) input {
	width: 59vw;
}

#projectform .col-12 textarea {
	width: 59vw;
	clear: both;
	border-radius: 5px;
}

#projectform .col-6 div {
	text-decoration: underline;
	font-size: 20px;
}

#projectform div {
	text-align: left!important;
}

#projectform div #backBut {
	clear: left;
	cursor: pointer;
}

#projectform .warning {
	color: red;
}

#projectform form button:focus {
	outline: 0;
}

#projectform form .btn-outline-secondary {
	color: #19c7cd!important;
	border: 1px solid #19c7cd!important;
}

#projectform form .btn-outline-secondary:hover {
	background-color: #19c7cd!important;
	color: #fff!important;
}

.hide {
	display: none;
}

#thankyou {
	text-align: center;
	padding: 50px 0 0;
	font-size: 22px;
}

#thankyou h5 {
	font-size: 26px;
	text-decoration: underline;
}

#thankyou div {
	width: 30vw;
	border: 2px #000 solid;
	margin: 5px auto 15px;
	padding: 10px 0 0;
	background-color: #fff;
}

#thankyou div p {
	font-weight: bold;
	font-size: 16px!important;
}

#thankyou div p span {
	font-weight: lighter!important;
}

















