#form {
	height: 100vh;
}

#form .container {
	padding: 100px 0 0;
}

#form .container .row .projects {
	width: 200px;
	height: 200px;
	display: block;
	border: 10px #000 solid;
	border-radius: 10px;
	position: absolute;
	text-align: center;
	margin: ;
}

#form #webdesigndesc,
#form #logodesc,
#form #carddesc {
	width: 200px;
	height: 200px;
	transition: .3s;
	border-radius: 10px;
	opacity: 0;
	z-index: 1;
	background-color: #000;
	color: #fff;
	text-align: center;
}

#form button {
	cursor: pointer;
}

#form #webdesigndesc:hover,
#form #logodesc:hover,
#form #carddesc:hover {
	opacity: 1!important;
}