/*start design button*/
	.startbutton {
			display: block;
			border-radius: 3px;
			background-color: #FF8E3A;
			border: none;
			color: #fff;
			font-size: 18px;
			padding: 3px;
			width: 130px;
			height: 40px;
			transition: all .5s;
			cursor: pointer;
			margin: auto;
			font-family: 'Source Sans Pro', sans-serif;
		}

	#sec1 .startbutton {
		width: 150px!important;
		height: 50px!important;
		font-size: 22px!important;
	}

	.startbutton span {
			cursor: pointer;
			display: inline-block;
			position: relative;
			transition: 0.5s;
		}

	.startbutton span:after {
			content: '\00bb';
			position: absolute;
			opacity: 0;
			top: 0;
			right: -20px;
			transition: 0.5s;
		}

	.startbutton:hover span {
			padding-right: 15px;
		}

	.startbutton:hover span:after {
			opacity: 1;
			right: 0;
		}