html,
body {
    height: 100%!important;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/ggbridge.jpg');
    /*background-size: cover;*/
    border-radius: 0;
    color: #fff;
    z-index: -1;
}

/*start design button*/
	.startbutton {
			display: block;
			border-radius: 3px;
			background-color: #FF8E3A;
			border: none;
			color: #fff;
			font-size: 22px;
			padding: 3px;
			width: 150px;
			height: 50px;
			transition: all 0.5s;
			cursor: pointer;
			margin: auto;
			font-family: 'Source Sans Pro', sans-serif;
		}

	.startbutton span {
			cursor: pointer;
			display: inline-block;
			position: relative;
			transition: 0.5s;
		}

	.startbutton span:after {
			content: '\00bb';
			position: absolute;
			opacity: 0;
			top: 0;
			right: -20px;
			transition: 0.5s;
		}

	.startbutton:hover span {
			padding-right: 15px;
		}

	.startbutton:hover span:after {
			opacity: 1;
			right: 0;
		}

/*navigation menu*/
	header {
		position: fixed;
		width: 100%;
		height: 80px;
		transition: .3s;
		z-index: 1;
	}

	header #logo {
	    margin: 3px 0px 0px 30%;
	    height: 70px;
	}

	#headerBut {
		margin: auto;
		display: block;	
		padding: 12px 0 0;
	}

	nav ul {
	    display: flex;
	    float: right;
	    transition: .3s;
	    padding: 28px 25% 0 0;
	}

	nav ul li {
	    list-style: none;
	    margin: 0px 6px;
	    text-align: center;
	}

	nav ul li a {
	    text-decoration: none;
	    text-transform: uppercase;
	    color: #fff;
	    transition: .3s;
	    font-size: 18px;
	    font-family: 'Montserrat', sans-serif;
	}

	nav ul li a:hover {
		color: #19c7cd;
		text-decoration: none;
	}

	nav ul li a.tgjactive {
	    color: #19c7cd;
	}

	.color {
	    background-color: rgba(250, 250, 250, 0.97);
		border-bottom: solid #19c7cd 4px;
	}

	.color nav ul li a {
	    color: #292929;
	}

	.color nav ul li a:hover {
	    color: #19c7cd;
	}

	.color nav ul li a.tgjactive {
	    color: #19c7cd;
	}

/*introduction*/
	#sec1 {
	    height: 85vh;
	}

	#sec1 h1 {
		/*height: 90%;*/
	    text-align: center;
	    font-size: 60px;
	    color: #fff;
	    font-family: 'Montserrat', sans-serif;
	    padding: 15% 0 0;
	}

	#sec1 p {
	    text-align: center;
	}

/*our service*/
	h5 {
		color: #000;
		text-align: center;
	}

	#sec5 {
		background-color: #fff;
		padding: 60px;
	}

	#sec5 .container .row p {
		color: #000;
		text-align: center;
	}

	#sec5 .container .row img {
		width: 50px;
		margin: 30px auto 0;
		display: block;

	}

/*3 step process*/
	h3 {
	    text-align: center;
	    font-size: 50px;
	    padding: 10px;
	    color: #19c7cd;
	    font-family: 'Source Sans Pro', sans-serif;
	}

	#sec3 {
	    background-color: #eaeaea;
	}

	iframe {
		margin: 60px;
		width: 700px;
		height: 400px;
	}

	#steptext {
		margin: 140px 0 0;
		height: 200px;
	}

	#sec3 .row #steptext p {
		color: #000;
	}

	#stepone, #steptwo, #stepthree {
		visibility: hidden;
		position: absolute;
	}

	.active {
		visibility: visible!important;
	}

/*FAQ*/
	#sec4 {
		background-color: #fff;
		padding: 50px;
	}

	.card-body {
		color: #000!important;
	}

	.card-header {
		width: 100%!important;
		height: 50px!important;
		text-decoration: none!important;
	}

	.card {
		margin: 20px!important;
	}

/*client slideshow*/
	#sec2 {
	    background-color: #fff;
	}

	img.d-block {
		width: 200px!important; 
		margin: 30px 60px 0!important;
	}

	p.clients,
	p.comment {
	    color: #000;
	}

	.carousel-control-prev-icon,
	.carousel-control-next-icon {
	    width: 40px!important;
	    height: 40px!important;
	}

	.carousel-control-prev-icon {
	    background-image: url('../svg/prev_arrow.svg')!important;
	}

	.carousel-control-next-icon {
	    background-image: url('../svg/next_arrow.svg')!important;
	}

	.carousel-indicators .active {
	    background-color: #000!important;
	}

	.carousel-indicators li {
	    background-color: rgba(0, 0, 0, 0.5)!important;
	}

	.carousel-item {
	    transition: 1s!important;
	}

/*form*/
	#form {
		height: 100%;
	}

	/*start button*/
	#designstartbutton {
		padding: 200px 0 0;
	}

	#form .container #designstartbutton button {
		margin: auto;
		display: block;
	}

	/*choose project*/
	#designstartbutton, #chooseproject {
		visibility: hidden;
	}

	#chooseproject img {
		width: 150px;
	}

	#chooseproject .card-body button {
		margin-left: 20px;
	}

/*footer*/
	.footer {
	    height: 300px;
	    width: 100%;
	    padding: 0px 30px;
	    background-color: #292929;
	}

	#contact {
	    width: 50%;
	    float: right;
	}