@charset "UTF-8";
html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

*.display-none {
  display: none;
}

*.container-center {
  width: 80%;
  margin: auto;
}

@font-face {
  font-family: "britannic_boldregular";
  src: url("../custom_fonts/britannic_bold_regular-webfont.woff2") format("woff2"), url("britannic_bold_regular-webfont.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.group {
  width: 90%;
  margin: auto;
}

h3 {
  font-size: 10rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 5rem;
}

.contact-main, .process-box-3c p, .process-box-img, .process-box-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .row {
    max-width: 124rem;
  }
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.nav {
  width: 100vw;
  background: rgba(0, 0, 0, 0);
  transition: 0.3s;
  position: fixed;
  z-index: 100000;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
@media screen and (max-width: 780px) {
  .nav {
    background-color: rgba(255, 255, 255, 0.97);
    border-bottom: solid #19c7cd 4px;
  }
}
.nav.scroll-change {
  background: rgba(255, 255, 255, 0.97);
  border-bottom: solid #19c7cd 4px;
}
.nav:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 780px) {
  .nav div {
    margin: auto;
    width: calc((100% - 5%)/3);
  }
}
@media screen and (max-width: 780px) {
  .nav-main-name {
    display: inline-block;
    width: 70%;
    margin-left: 15%;
  }
}
.nav-main-name .tgj-logo {
  width: 4rem;
  transform: translate(0, -0.25rem);
  margin-right: 0.5rem;
}
@media screen and (max-width: 780px) {
  .nav-main-name .tgj-logo {
    width: 3.5rem;
  }
}
.nav-main-name h1 {
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: inline-block;
}
@media screen and (max-width: 780px) {
  .nav-main-name h1 {
    font-size: 2rem;
  }
}
.nav-main-name a {
  color: #fff;
}
@media screen and (max-width: 780px) {
  .nav-main-name a {
    color: #58595b;
  }
}
.nav-main-name a:hover {
  text-decoration: none;
}
.nav-main-name span {
  color: #69e2d3;
}
.nav .design-button .start-design {
  display: block;
  border-radius: 0.3rem;
  background-color: #f3c953;
  border: none;
  color: #fff;
  font-size: 2rem;
  padding: 0.3rem;
  width: 15rem;
  height: 5.5rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 500px) {
  .nav .design-button .start-design {
    width: 14rem;
    height: 3.2rem;
    font-size: 1.8rem;
  }
}
.nav .design-button .start-design span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.nav .design-button .start-design span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1rem;
  transition: 0.5s;
}
.nav .design-button .start-design:hover span {
  padding-right: 1.3rem;
}
.nav .design-button .start-design:hover span:after {
  opacity: 1;
  right: 0;
}
.nav .design-button .start-design:focus {
  outline: none;
}
@media screen and (max-width: 780px) {
  .nav .design-button {
    display: none;
  }
}
.nav-links {
  display: block;
  margin: auto;
}
@media screen and (max-width: 780px) {
  .nav-links {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .nav-links {
    margin: 1.5rem auto 1rem;
  }
}
.nav-links ul {
  width: 4rem;
  display: inline;
  padding: 0;
}
.nav-links ul li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  margin: 0 0.5rem;
  cursor: pointer;
}
.nav-links ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
}
@media screen and (max-width: 780px) {
  .nav-links ul li a {
    color: #000 !important;
  }
}
.nav-links ul .active {
  color: #69e2d3 !important;
}
.nav-icon {
  display: none;
}
@media screen and (max-width: 780px) {
  .nav-icon {
    display: inline-block;
  }
}
.nav-icon .fa-bars {
  color: #69e2d3;
  font-size: 3rem;
  margin-top: 0.6rem;
  cursor: pointer;
}
.nav .unhidden {
  display: block;
  margin: auto;
}

.main-intro {
  background-image: url("../images/main-pic.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  padding: 10vw 0;
  height: 55vw;
}
@media screen and (max-width: 780px) {
  .main-intro {
    padding-top: 18vw;
    background-size: 140%;
    background-position: center top;
    height: 80vw;
  }
}
@media screen and (max-width: 500px) {
  .main-intro {
    background-size: 240%;
    height: 138vw;
    padding-bottom: 0;
  }
}
.main-intro:after {
  content: "";
  display: table;
  clear: both;
}
.main-intro-info {
  margin: auto;
  width: 60vw;
  padding-top: 4vw;
  padding-left: 1rem;
}
@media screen and (max-width: 780px) {
  .main-intro-info {
    padding-top: 0;
    width: 90vw;
  }
}
@media screen and (max-width: 500px) {
  .main-intro-info {
    padding-top: 10vw;
    width: 100vw;
  }
}
.main-intro-info h2, .main-intro-info p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.main-intro-info h2 {
  font-size: 5.8vw;
}
@media screen and (max-width: 780px) {
  .main-intro-info h2 {
    font-size: 8vw;
  }
}
@media screen and (max-width: 500px) {
  .main-intro-info h2 {
    font-size: 12vw;
  }
}
.main-intro-info p {
  font-size: 2vw;
}
@media screen and (max-width: 780px) {
  .main-intro-info p {
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 500px) {
  .main-intro-info p {
    font-size: 5.5vw;
  }
}
.main-intro-info .design-button .start-design {
  display: block;
  border-radius: 0.3rem;
  background-color: #f3c953;
  border: none;
  color: #fff;
  font-size: 2rem;
  padding: 0.3rem;
  width: 15rem;
  height: 5.5rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 500px) {
  .main-intro-info .design-button .start-design {
    width: 14rem;
    height: 3.2rem;
    font-size: 1.8rem;
  }
}
.main-intro-info .design-button .start-design span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.main-intro-info .design-button .start-design span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1rem;
  transition: 0.5s;
}
.main-intro-info .design-button .start-design:hover span {
  padding-right: 1.3rem;
}
.main-intro-info .design-button .start-design:hover span:after {
  opacity: 1;
  right: 0;
}
.main-intro-info .design-button .start-design:focus {
  outline: none;
}

.who {
  padding: 15rem 8vw;
  text-align: center;
}
@media screen and (max-width: 950px) {
  .who {
    padding: 5rem;
  }
}
.who-header {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  padding-top: 6rem;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: bold;
  text-shadow: 1rem 0.6rem #898a8a;
  font-size: 8vw;
  line-height: 8.5vw;
}
@media screen and (max-width: 950px) {
  .who-header {
    display: block;
    width: 100%;
    padding-top: 0;
    padding-bottom: 5rem;
    font-size: 11vw;
    line-height: 10vw;
    text-shadow: 0.5rem 0.6rem #898a8a;
  }
}
@media screen and (max-width: 500px) {
  .who-header {
    font-size: 6rem;
    line-height: 6rem;
  }
}
.who-header-who {
  display: block;
}
.who-header-are {
  display: block;
  letter-spacing: 1.5rem;
  padding-left: 0.9rem;
}
.who-header-we {
  display: block;
  letter-spacing: 1rem;
  padding-left: 0.9rem;
}
.who-desc {
  display: inline-block;
  width: 40%;
  text-align: left;
  font-size: 2.2vw;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 950px) {
  .who-desc {
    display: block;
    width: 90%;
    margin: auto;
    font-size: 3vw;
  }
}
@media screen and (max-width: 500px) {
  .who-desc {
    font-size: 1.8rem;
  }
}
.who-desc-title {
  font-weight: bold;
}
.who-desc-info {
  font-weight: lighter;
}
.who .learn-more {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2vw;
  text-decoration: underline;
  color: #000;
}
@media screen and (max-width: 950px) {
  .who .learn-more {
    font-size: 3vw;
  }
}
@media screen and (max-width: 500px) {
  .who .learn-more {
    font-size: 1.8rem;
  }
}

.why {
  padding: 0 5rem 5rem 5rem;
  margin-bottom: 10rem;
}
.why-header {
  display: block;
  font-size: 3.2vw;
  font-weight: bold;
}
@media screen and (max-width: 950px) {
  .why-header {
    font-size: 3.8vw;
  }
}
@media screen and (max-width: 500px) {
  .why-header {
    font-size: 3rem;
  }
}
.why-section {
  width: calc(99%/3);
  height: auto;
}
@media screen and (max-width: 950px) {
  .why-section {
    width: 90%;
    margin: auto;
  }
}
.why-section:not(:nth-child(2)) {
  border: 0.5rem solid #000;
}
@media screen and (max-width: 950px) {
  .why-section:not(:nth-child(2)) {
    border: 0.3rem solid #000;
  }
}
.why-section:nth-child(2) {
  border-top: 0.5rem solid #000;
  border-bottom: 0.5rem solid #000;
}
@media screen and (max-width: 950px) {
  .why-section:nth-child(2) {
    border-left: 0.3rem solid #000;
    border-right: 0.3rem solid #000;
    border-top: 0;
    border-bottom: 0;
  }
}
.why-section-img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 950px) {
  .why-section-img {
    width: 49%;
    vertical-align: top;
  }
}
@media screen and (max-width: 500px) {
  .why-section-img {
    width: 100%;
  }
}
.why-section-info {
  padding: 3vw;
}
@media screen and (max-width: 950px) {
  .why-section-info {
    width: 49%;
    display: inline-block;
  }
}
@media screen and (max-width: 500px) {
  .why-section-info {
    width: 100%;
    display: block;
  }
}
.why h4 {
  font-size: 3.2vw;
  font-weight: normal;
}
@media screen and (max-width: 950px) {
  .why h4 {
    font-size: 3.8vw;
  }
}
@media screen and (max-width: 500px) {
  .why h4 {
    font-size: 3rem;
  }
}
.why p {
  font-size: 2vw;
  font-weight: lighter;
}
@media screen and (max-width: 500px) {
  .why p {
    font-size: 1.8rem;
  }
}

.process2 {
  padding: 10rem;
  width: 90%;
  background-color: #69e2d3;
  text-align: center;
  margin: auto;
}
@media screen and (max-width: 1180px) {
  .process2 {
    padding: 5rem;
    width: 100%;
  }
}
.process2-column {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 1180px) {
  .process2-column {
    display: block;
    margin: auto;
    width: 80vw !important;
  }
}
.process2-column-1 {
  width: 50%;
}
.process2-column-2 {
  width: 40%;
}
.process2-header {
  font-size: 7vw;
  font-weight: bold;
  line-height: 9vw;
}
@media screen and (max-width: 1180px) {
  .process2-header {
    font-size: 8vw;
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 500px) {
  .process2-header {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}
.process2-title {
  font-size: 1.8vw;
  padding-bottom: 4rem;
  position: relative;
  font-weight: bold;
}
@media screen and (max-width: 1180px) {
  .process2-title {
    width: 80%;
    margin: auto;
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 500px) {
  .process2-title {
    padding-bottom: 2rem;
    font-size: 2rem;
  }
}
.process2-title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.1rem;
  width: 50%;
  border-bottom: 0.4rem solid #fff;
}
@media screen and (max-width: 500px) {
  .process2-title:before {
    border-bottom: 0.2rem solid #fff;
  }
}
.process2-steps {
  font-size: 1.2vw;
  margin-top: 3rem;
}
@media screen and (max-width: 1180px) {
  .process2-steps {
    font-size: 2.2vw;
    width: 80%;
    margin: 5rem auto;
  }
}
@media screen and (max-width: 500px) {
  .process2-steps {
    font-size: 1.8rem;
    margin: 2rem auto;
  }
}

.process .row {
  width: 100% !important;
  margin-bottom: 0 !important;
}
.process-column {
  margin: 0 !important;
  width: calc(100%/3) !important;
}
.process-box {
  height: 40rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 2rem #000;
  position: relative;
}
.process-box-desc {
  width: 90%;
  font-size: 2.5rem;
}
.process-box-img {
  width: 90%;
}
.process-box-1a {
  background-color: #5dafa9;
}
.process-box-1a img {
  width: 6.5rem;
}
.process-box-1b {
  background-color: #72cbcd;
}
.process-box-1c {
  background-color: #95d6d8;
}
.process-box-2a {
  background-color: #898a8a;
}
.process-box-2a img {
  width: 14rem;
}
.process-box-2a p {
  color: #fff;
}
.process-box-2b {
  background-color: #a2a2a2;
  color: #fff;
}
.process-box-2c {
  background-color: #c4c6c6;
}
.process-box-3a {
  background-color: #d8b464;
}
.process-box-3a img {
  width: 12rem;
}
.process-box-3b {
  background-color: #eeca69;
}
.process-box-3c {
  background-color: #f9d480;
}
.process-box-3c p {
  border: 0.5rem solid #000;
  border-radius: 1rem;
  color: #000;
  display: inline-block;
  font-size: 8rem;
  padding: 2rem;
}
.process-step {
  display: inline-block;
}
.process-step-num {
  margin: 6rem 0 4rem;
}
.process-step-title {
  font-size: 7rem;
  line-height: 5rem;
  font-family: "britannic_boldregular";
  color: #000;
}

.faq {
  padding: 8rem 0;
  text-align: center;
}
.faq-column {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
.faq-column:nth-child(2) {
  margin-right: 5rem;
}
@media screen and (max-width: 1180px) {
  .faq-column {
    display: block;
    width: 80%;
    margin: auto !important;
  }
}
.faq-card {
  border-bottom: 0.2rem solid #000;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.faq-card .symbol {
  margin-right: auto;
  font-size: 1.8vw;
}
@media screen and (max-width: 1180px) {
  .faq-card .symbol {
    font-size: 3vw;
  }
}
@media screen and (max-width: 780px) {
  .faq-card .symbol {
    font-size: 4vw;
  }
}
@media screen and (max-width: 500px) {
  .faq-card .symbol {
    font-size: 1.4rem;
  }
}
.faq-card-question {
  font-size: 1.6vw;
  font-weight: 500;
  line-height: 6rem;
  cursor: pointer;
  width: 96%;
  display: inline-block;
}
@media screen and (max-width: 1180px) {
  .faq-card-question {
    font-size: 3vw;
  }
}
@media screen and (max-width: 780px) {
  .faq-card-question {
    font-size: 4vw;
  }
}
@media screen and (max-width: 500px) {
  .faq-card-question {
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: left;
  }
}
.faq-card-answer {
  font-size: 2.5rem;
  text-align: justify;
  width: 80%;
  margin: auto;
  max-height: 0;
  transition: max-height 1s;
  overflow: hidden;
}
@media screen and (max-width: 1180px) {
  .faq-card-answer {
    font-size: 2.4vw;
  }
}
@media screen and (max-width: 780px) {
  .faq-card-answer {
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 500px) {
  .faq-card-answer {
    font-size: 1.4rem;
  }
}
.faq .reveal-answer {
  max-height: 50rem;
  transition: max-height 1s;
}
.faq img {
  width: 23rem;
  margin: auto;
  display: block;
  margin-bottom: 3rem;
}
@media screen and (max-width: 500px) {
  .faq img {
    width: 18rem;
  }
}

.testimonial {
  background-color: rgba(0, 0, 0, 0.05);
  height: auto;
  border-top: 0.1rem solid 0, 0, 0, 0.2;
  padding: 6rem 0 8rem;
}
.testimonial img.d-block {
  width: 35rem !important;
  margin: 3rem 0 0 !important;
}
.testimonial p {
  color: #000;
}
.testimonial .clients {
  font-size: 4rem;
  font-weight: bold;
  border-bottom: 0.2rem solid #000;
  width: 65%;
}
.testimonial .comment {
  font-size: 2.5rem;
  font-style: italic;
}
.testimonial .author {
  font-size: 2rem;
}
.testimonial a {
  text-align: center;
  color: #000;
}
.testimonial button {
  border-radius: 0.5rem;
  background-color: #fff;
  border: none;
  margin: 0 0 0 1rem;
  transition: 0.3s;
  border-bottom: none;
}
.testimonial button a {
  text-decoration: none;
}
.testimonial .container:nth-child(1) button:hover {
  background-color: #FF8E3A;
}
.testimonial .container:nth-child(1) button:hover a {
  color: #fff;
}
.testimonial .carousel-control-prev-icon,
.testimonial .carousel-control-next-icon {
  width: 4rem !important;
  height: 4rem !important;
}
@media screen and (max-width: 500px) {
  .testimonial .carousel-control-prev-icon,
.testimonial .carousel-control-next-icon {
    width: 1rem !important;
  }
}
.testimonial .carousel-control-prev-icon {
  background-image: url("../svg/prev_arrow.svg") !important;
}
.testimonial .carousel-control-next-icon {
  background-image: url("../svg/next_arrow.svg") !important;
}
.testimonial .carousel-indicators .active {
  background-color: #000 !important;
}
.testimonial .carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.contact {
  background-image: url("../images/wood-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  position: relative;
}
@media screen and (max-width: 950px) {
  .contact {
    height: auto;
    padding: 10rem 0;
  }
}
.contact-main {
  width: 60%;
  text-align: center;
  border: 0.5rem solid #69e2d3;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  padding: 5rem 3rem;
}
@media screen and (max-width: 950px) {
  .contact-main {
    transform: none;
    position: static;
    margin: auto;
    width: 80%;
  }
}
.contact-form {
  width: 40%;
  display: inline-block;
  font-size: 1.6rem;
  text-align: left;
  margin-right: 2rem;
  border-right: 0.1rem solid #000;
  padding-right: 4rem;
}
@media screen and (max-width: 950px) {
  .contact-form {
    border-bottom: 0.1rem solid #000;
    border-right: 0;
    display: block;
    margin: auto;
    width: 80%;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    padding-right: 0;
  }
}
.contact-form-title {
  font-size: 2.4rem;
  margin: 0;
}
.contact-form-input {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 0.2rem solid #000;
  margin-bottom: 2rem;
}
.contact-form-input:focus {
  outline: none;
}
.contact-form-desc {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 0.2rem solid #000;
  border-radius: 0.5rem;
}
.contact-form-desc:focus {
  outline: none;
}
.contact-form-submit {
  background-color: rgba(0, 0, 0, 0);
  border: 0.2rem solid #000;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  display: block;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.contact-form-submit:hover {
  background-color: #000;
  color: #fff;
}
.contact-form-submit:focus {
  outline: none;
}
.contact-sent {
  display: none;
  text-align: center;
  height: 30rem;
}
.contact-sent h4 {
  font-size: 4rem;
}
.contact-sent p {
  font-size: 2.3rem;
  margin: 3rem 0;
}
.contact-start {
  width: 40%;
  vertical-align: top;
  display: inline-block;
}
@media screen and (max-width: 950px) {
  .contact-start {
    width: 80%;
  }
}
.contact-start h5 {
  font-size: 4rem;
}
.contact-start p {
  font-size: 2.3rem;
  margin: 3rem 0;
}
.contact-start .design-button .start-design {
  display: block;
  border-radius: 0.3rem;
  background-color: #f3c953;
  border: none;
  color: #fff;
  font-size: 2rem;
  padding: 0.3rem;
  width: 15rem;
  height: 5.5rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 500px) {
  .contact-start .design-button .start-design {
    width: 14rem;
    height: 3.2rem;
    font-size: 1.8rem;
  }
}
.contact-start .design-button .start-design span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.contact-start .design-button .start-design span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1rem;
  transition: 0.5s;
}
.contact-start .design-button .start-design:hover span {
  padding-right: 1.3rem;
}
.contact-start .design-button .start-design:hover span:after {
  opacity: 1;
  right: 0;
}
.contact-start .design-button .start-design:focus {
  outline: none;
}
.contact .error-msg {
  font-size: 1.6rem;
  color: red;
}

/*footer*/
.footer {
  height: 240px;
  width: 100%;
  padding: 50px 0 0;
  background-color: #292929;
  bottom: 0;
}
.footer-info {
  margin: auto;
  width: 275px;
}
.footer-image {
  float: left;
  width: 9rem;
  padding: 6px 10px 0 0;
}
.footer-link {
  margin: 0 0 10px;
  padding: 0 !important;
}
.footer-link:last-child a {
  cursor: pointer;
}
.footer-link a {
  color: #fff;
  text-decoration: underline;
  font-size: 16px;
  font-weight: bold;
  cursor: not-allowed;
}

/*# sourceMappingURL=style.css.map */
