/*why we are different*/
	#sec2 {
		background-color: #fff;
		padding: 40px;
		height: 360px;
	}

	#sec2 h2 {
		font-size: 30px;
		text-align: center;
		margin: 0 auto 30px;
		border: 2px #000 solid;
		width: 350px;
		height: 55px;
		border-radius: 5px;
		padding: 8px 0 0;
	}

	#sec2 h3 {
		font-size: 22px;
		text-align: center;
	}

	#sec2 p {
		color: #000;
		text-align: center;
	}

	#sec2 .container .row img {
		height: 70px;
		margin: auto;
		display: block;
	}